:root{
    --background-color: mintcream;
}
body{
    background-color: var(--background-color);
    font-family: "Franklin Gothic", sans-serif;
}

h1{
    text-align: center;
}
h2 {
    text-align: center;
}
iframe{
    display: block;
    max-width: 100%;
}

footer{
    text-align : center;
}
button{

    text-color : purple ;
}
img{
    border-raidus : 8px ;
}